//====================================================================================================
.page {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @media (max-width: $md3+px) {
    position: static;
  }
}

.main {
  padding-left: 80px;
  min-height: 100vh;
  min-width: 100vw;
  @media (max-width: $md3+px) {
    padding-left: 0px;
  }

  &__head {
    padding: 30px 60px 0 50px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    @media (max-width: $md3+px) {
      justify-content: flex-end;
    }
  }

  &__contacts {
    a {
      color: #fff;
      font-weight: 400;
      font-size: 14px;
      &:last-child {
        margin-left: 40px;
      }
      &:hover {
        color: $orange;
        transition: 0.3s;
      }
    }
    @media (max-width: $md3+px) {
      display: none;
    }
  }

  &__content {
    padding: 300px 30px 50px;
    @media (max-width: $md3+px) {
      padding: 200px 60px;
      width: 100%;
    }

    &-text {
      flex: 0 0 auto;
      width: 58.33333333%;
      @media (max-width: $md3+px) {
        width: 80%;
      }
    }
  }

  &__content-subtitle {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 20px;
  }

  &__content-title {
    font-size: 80px;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 15px;
    color: #fff;
    @media (max-width: $md4+px) {
      font-size: 50px;
      font-weight: 700;
    }
  }

  &__content-job {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    color: $orange;
    &:first-child {
      animation: slider 10s infinite;
    }
    @keyframes slider {
      0% {
        margin-top: 0;
      }
      25% {
        margin-top: -40px;
      }
      50% {
        margin-top: -80px;
      }
      75% {
        margin-top: -40px;
      }
      100% {
        margin-top: 0;
      }
    }
    &-box {
      overflow: hidden;
      height: 40px;
      margin-bottom: 15px;
    }
  }

  &__content-text {
    font-weight: 300;
  }
}

//====================================================================================================

.about {
  padding: 100px 0;
  padding-left: 80px;
  background: #0e0e17;
  @media (max-width: $md3+px) {
    padding-left: 0px;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $md2+px) {
      flex-direction: column;
    }
  }

  &__logo {
    flex: 0 0 auto;
    width: 33.33333333%;
    text-align: center;
    margin-right: 90px;
    @media (max-width: $md1+px) {
      margin-right: 60px;
    }
    @media (max-width: $md2+px) {
      margin-bottom: 60px;
      margin-right: 0;
      width: 70%;
    }
  }

  &__logo-img {
    border-radius: 50%;
    width: 356px;
    height: 358px;
    margin: auto;
    overflow: hidden;
    border: 5px solid $orange;
    @media (max-width: $md1+px) {
      width: 300px;
      height: 300px;
    }
    @media (max-width: $md4+px) {
      width: 200px;
      height: 200px;
      img {
        margin-left: -30px;
        width: 300px;
      }
    }
  }

  &__logo-links {
    display: flex;
    justify-content: center;

    a {
      width: 35px;
      height: 35px;
      line-height: 31px;
      background: #fff;
      border: 2px solid #fff;
      color: #fff;
      background-color: #000;
      text-align: center;
      border-radius: 50%;
      position: relative;
      margin: 0 15px;
      transition: all 0.35s ease;
      -webkit-transform: scale(1);
      transform: scale(1);
      display: flex;
      justify-content: center;
      align-items: center;
      &:first-child {
        top: -35px;
      }
      &:last-child {
        top: -35px;
      }
      &:nth-child(2) {
        top: -20px;
      }
      &:hover {
        background-color: $orange;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }
    }
  }

  &__logo-subtitle {
    padding-top: 40px;
    margin: 0;
    font-size: 16px;
  }

  &__logo-title {
    font-weight: 500;
    font-size: 30px;
  }

  &__content {
    padding: 0 20px;
    margin-right: 40px;
    flex: 0 0 auto;
    @include adaptiv-value("width", 500, 300, 1);
    @media (max-width: $md2+px) {
      margin-bottom: 60px;
      margin-right: 0;
      width: 95%;
    }
    P {
      line-height: 1.7;
      font-size: 15px;
      font-weight: 300;
      margin-bottom: 16px;
    }
  }

  &__stats {
    padding-top: 15px;
    display: flex;
    @media (max-width: $md4+px) {
      flex-direction: column;
    }
  }

  &__stats-col {
    width: 100%;
    li {
      padding: 4px 0;
      label {
        margin: 0;
        font-weight: 500;
        padding-right: 10px;
      }
    }
  }
}
//-------------------------------------

.i-do {
  margin: 0 20px;
  padding: 0 20px;
  width: 95%;

  &__content {
    display: flex;
    @media (max-width: $md2+px) {
      flex-wrap: wrap;
    }
    @media (max-width: $md3+px) {
      flex-direction: column;
    }
  }

  &__item {
    margin: 15px;
    background: #0b0b13;
    padding: 40px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    @media (max-width: $md2+px) {
      flex: 0 0 auto;
      width: 40%;
      @media (max-width: $md3+px) {
        width: 90%;
      }
    }
    &:hover {
      .i-do__circle {
        background-color: $orange;
        transform: scale(5);
        transition: all 0.6s ease-in-out 0s;
        @media (max-width: $md3+px) {
          transform: scale(8);
        }
      }
      .i-do__gray {
        display: block;
        top: -20px;
        left: -20px;
      }
    }
  }
  &__gray {
    display: none;
    position: absolute;
    width: 140px;
    height: 140px;
    bottom: -20px;
    right: -20px;
    border-radius: 50%;
    background-color: #0b0b13;
    z-index: 1;
  }
  &__circle {
    position: absolute;
    width: 140px;
    height: 140px;
    top: -20px;
    left: -20px;
    border-radius: 50%;
    background-color: $orange;
    z-index: 1;
  }
  &__logo {
    position: relative;
    line-height: 60px;
    font-size: 40px;
    color: #fff;
    z-index: 2;
  }
  &__title {
    position: relative;
    z-index: 2;
    padding-top: 50px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 15px;
    font-size: 18px;
  }

  &__subtitle {
    position: relative;
    z-index: 2;
  }
}
//----------------------------------

.education {
  margin: 0 20px;
  padding: 0 20px;
  width: 95%;
  &__content {
    display: flex;
    justify-content: space-between;
    @media (max-width: $md2+px) {
      flex-direction: column;
    }
  }

  &__items {
    margin: 15px;
    background: #0b0b13;
    padding: 40px;
    border-radius: 10px;
    overflow: hidden;
  }

  &__item {
    margin-top: 25px;
    &:first-child {
      margin-top: 0;
    }
  }

  &__item-date {
  }

  &__item-grade {
    margin: 5px 0;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1rem;
  }

  &__item-university {
  }

  &__graph {
    margin-top: 15px;
    padding-bottom: 15px;
    flex: 0 0 auto;
    width: 53%;
    @media (max-width: $md2+px) {
      width: 100%;
      margin: 15px;
    }
    @media (max-width: $md4+px) {
      width: 80%;
      margin: 15px;
    }
  }

  &__graph-skill {
    position: relative;
    margin-top: 45px;
    width: 100%;
    span {
      font-size: 30px;
      font-weight: 500;
      line-height: 1;
    }
    h6 {
      position: absolute;
      font-size: 15px;
      margin: 0 0 10px;
      font-weight: 400;
      top: -20px;
      left: 80px;
    }
  }

  &__graph-skill-line {
    position: absolute;
    width: 80%;
    height: 10px;
    background: hsla(0, 0%, 100%, 0.2);
    left: 80px;
    top: 15px;
    &-progress {
      transition: all 0.55s ease;
      height: 10px;
      background: #ff9301;
    }
  }
}
//========================================

.work {
  padding: 100px 0;
  padding-left: 80px;
  @media (max-width: $md3+px) {
    padding-left: 0px;
  }
  &__container {
    margin: 0 20px;
    padding: 0 20px;
    width: 95%;
  }
  &__content {
  }

  &__tags {
    padding-bottom: 5px;
    ul {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      padding-left: 0;
      li {
        list-style-type: none;
        cursor: pointer;
        margin-left: 0;
        margin-right: 30px;
        padding: 5px 0;
        font-weight: 400;
        font-size: 16px;
        &.active {
          border-bottom: solid 2px $orange;
        }

        &:hover {
          border-bottom: solid 2px lighten(#fb9328, 0.35s);
        }
      }
    }
  }

  &__products {
    padding-top: 5px;
    margin-top: 10px;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
  }

  &__grid-item {
    width: 30%;
    display: block;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
    @media (max-width: $md2+px) {
      width: 45%;
    }
    @media (max-width: $md3+px) {
      width: 95%;
      margin-right: 0;
    }
    img {
      width: 100%;
      height: 100%;
    }
    &:hover img {
      transform: scale(1.1);
      transition: all 0.5s ease 0s;
    }
  }
  &__grid-item-content {
    position: absolute;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    opacity: 0;
    @media (any-hover: hover) {
      &:hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.65);
        z-index: 3;
        opacity: 1;
        transition: background, opacity 0.8s ease 0s;
        .work__grid-item-btn {
          &:last-child {
            bottom: 5px;
            right: 100px;
            transition: all 0.5s ease 0s;
          }
          &:nth-child(2) {
            bottom: 5px;
            right: 50px;
            transition: all 0.5s ease 0s;
          }
          &:first-child {
            bottom: 5px;
            right: 5px;
            transition: all 0.8s ease 0s;
          }
        }
      }
    }
    @media (any-hover: none) {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.65);
      z-index: 3;
      opacity: 1;
    }
  }

  &__grid-item-links {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
    margin-right: 5px;
  }

  &__grid-item-btn {
    position: absolute;
    bottom: -50px;
    right: 0;
    color: #000;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;

    @media (any-hover: none) {
      &:last-child {
        bottom: 5px;
        right: 100px;
      }
      &:nth-child(2) {
        bottom: 5px;
        right: 50px;
      }
      &:first-child {
        bottom: 5px;
        right: 5px;
      }
    }
  }

  &__grid-item-title {
    align-self: center;
    margin: 20px 0 4px;
    font-weight: 500;
    font-size: 25px;
  }
}

.contacts {
  padding: 100px 0;
  padding-left: 80px;
  background: #0e0e17;
  @media (max-width: $md3+px) {
    padding-left: 0px;
  }

  &__container {
    margin: 0 20px;
    padding: 0 20px;
    width: 95%;
  }

  &__text {
    text-align: center;
    line-height: 1.7;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 16px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    i {
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        margin-left: 10px;
        color: #fff;
        &:hover {
          color: $orange;
          transition: all 0.3s ease 0s;
        }
      }
    }
  }
}
